main {
  display: grid;
}

#containerY {
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.sol {
  overflow: scroll;
  height: 100vh;
  background-color: yellow;
  scroll-snap-align: start;
}

#containerX {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
}

#containerX .stearinlys {
  width: 100%;
  height: 100vh;
  background-color: hotpink;
  scroll-snap-type: x mandatory;
}

#containerX .lampe {
  width: 100%;
  height: 100vh;
  background-color: tomato;
}

#containerX .arbejdsdag {
  width: 100%;
  height: 100vh;
  background-color: greenyellow;
}

#containerX .timessquare {
  width: 100%;
  height: 100vh;
  background-color: orange;
}
