main {
  display: grid;
}

#containerY {
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.sol {
  overflow: scroll;
  height: 100vh;
  background-color: yellow;
  scroll-snap-align: start;
}

#containerX {
  scroll-snap-align: start;
  height: 100vh;
  scroll-snap-type: x mandatory;
}

.stearinlys {
  flex-wrap: wrap;

  height: 100vh;
  background-color: hotpink;
}

.lampe {
  height: 100vh;
  background-color: tomato;
}

.arbejdsdag {
  height: 100vh;
  background-color: greenyellow;
}

.timessquare {
  height: 100vh;
  background-color: orange;
}
